.btn-toolbar button.btn {
	margin: 10px;
}

.btn-group {
	margin-left: 5px;
	margin-top: 10px;
}

.btn-add {
	border: 2px dashed brown;
}

.btn-border {
	border: 1px solid black;
}

.custom-bg {
	background-color: #f8f9fa;
	border-radius: 10px;
	border: 1px solid lightblue;
	padding: 10px 20px;
}

button.btn.btn-season.active,
button.btn.btn-episode.active {
	box-shadow: 0 0 1pt 3pt lightgray;
	background-color: lightgray;
	color: black;
}

button.action-edit {
	position: relative;
}

.inner-text {
	padding-left: 10px;
	padding-right: 5px;
}

.btn.action-edit i::before {
	color: lightgray;
}

.btn.action-edit i:hover::before {
	color: rgb(138, 134, 134);
}

.margin-top {
	margin-top: 10px;
}