<div class="row">
  <div class="col-md-2">
    <h3>Seasons</h3>
  </div>
  <div class="col-md-9">
    <div [ngClass]="this.alertType" class="alert alert-success" role="alert" *ngIf="showSeasonAlert"> {{alertMsg}} </div>
    <div class="btn-toolbar">
      <button 
        type="button" 
        *ngFor="let seas of seasons; let idx = index" 
        class="btn btn-light btn-season action-edit" 
        [ngClass]="{active: selectedSeason == idx}" 
        (click)="onSelectSeason(idx)">
          <span class="inner-text">{{seas.title}}</span> 
          <i class="fas fa-pencil-alt" (click)="onEditSeason(idx); $event.stopPropagation();"></i>
      </button>
      <button type="button" class="btn btn-light btn-add" (click)="addNewSeason()"><i class="fas fa-plus"></i> Add</button>
    </div>
  </div>
</div>

<form (ngSubmit)="onSaveNewSeason(seasonForm)" #seasonForm="ngForm">
<div class="row justify-content-center" [hidden]="!showAddSeason">
  <div class="col-md-6 custom-bg">
    <div class="form-group">
      <input type="text" 
        class="form-control" 
        name="catTitle" 
        placeholder="Season Title"
        ngModel>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" 
          class="form-control" 
          name="catEn" 
          value="englisht title"
          placeholder="English title"
          ngModel>
      </div>
      <div class="col">
        <input type="text" 
          class="form-control" 
          name="catEs" 
          value="spanisht title"
          placeholder="Spanish Title"
          ngModel>
      </div>
    </div>
    <div class="row margin-top">
      <div class="col">
        <button type="submit" class="btn btn-success" *ngIf="!editMode">Save</button>
        <button type="button" class="btn btn-success" *ngIf="editMode" (click)="onUpdateSeason()">Update</button>
        <button type="button" class="btn btn-link" (click)="onCancel()">Cancel</button>
      </div>
      <div class="col text-right">
        <button type="button" class="btn btn-danger" *ngIf="editMode" (click)="onDeleteSeason()">Delete</button>
      </div>
    </div>
  </div>
</div>
</form>

<hr>

<div class="row">
  <div class="col-md-2">
    <h3>Episodes</h3>
  </div>
  <div class="col-md-9" *ngIf="selectedSeason != -1">
    <div class="alert alert-success" role="alert" *ngIf="showEpisodeAlert"> {{alertMsg}} </div>
    <div class="btn-toolbar">
      <button type="button" 
        *ngFor="let epi of episodes; let idx = index;" 
        class="btn btn-light btn-episode" 
        [ngClass]="{active: selectedEpisode == idx}" 
        (click)="onSelectEpisode(idx)">
          <span class="inner-text">{{epi.title}}</span> 
          <i class="fas fa-pencil-alt" (click)="onEditEpisode(idx); $event.stopPropagation();"></i>
      </button>
      <button type="button" class="btn btn-light btn-add" (click)="addNewEpisode()"><i class="fas fa-plus"></i> Add</button>
    </div>
  </div>
</div>

<form (ngSubmit)="onSaveNewEpisode(episodeForm)" #episodeForm="ngForm">
    <div class="row justify-content-center" [hidden]="!showAddEpisode">
      <div class="col-md-6 custom-bg">
        <div class="row">
          <div class="col">
            <input type="text" 
              class="form-control" 
              name="epiTitle" 
              placeholder="Episode Title"
              ngModel>
          </div>
          <div class="col">
              <input type="text" 
              class="form-control" 
              name="epiDifficulty"
              placeholder="Normal"
              disabled="disabled"
              ngModel>
          </div>
        </div>
        <div class="form-group">
          
        </div>
        <div class="row">
          <div class="col">
            <input type="text" 
              class="form-control" 
              name="epiEn" 
              value="englisht title"
              placeholder="English title"
              ngModel>
          </div>
          <div class="col">
            <input type="text" 
              class="form-control" 
              name="epiEs" 
              value="spanisht title"
              placeholder="Spanish Title"
              ngModel>
          </div>
        </div>
        <div class="row margin-top">
          <div class="col">
            <button type="submit" class="btn btn-success" *ngIf="!editMode">Save</button>
            <button type="button" class="btn btn-success" *ngIf="editMode" (click)="onUpdateEpisode()">Update</button>
            <button type="button" class="btn btn-link" (click)="onCancel()">Cancel</button>
          </div>
          <div class="col text-right">
            <button type="button" class="btn btn-danger" (click)="onDeleteEpisode()">Delete</button>
          </div>
        </div>
      </div>
    </div>
</form>

<hr>

<div class="row">
  <div class="col-md-2">
    <h3>Words</h3>
  </div>
  <div class="col-md-9" *ngIf="selectedEpisode != -1">
    <h5>{{activeEpisode.en}} / {{activeEpisode.es}}</h5>
    <div class="alert alert-success" role="alert" *ngIf="showWordAlert"> {{alertMsg}} </div>
    <div class="btn-group" role="group" *ngFor="let word of activeWordList; let idx = index;">
      <button type="button" class="btn btn-dark">{{word.en}}</button>
      <button type="button" class="btn btn-light btn-border">
        <span class="inner-text">{{word.es}}</span> 
        <i class="fas fa-pencil-alt" (click)="onEditWord(idx); $event.stopPropagation();"></i>
      </button>
    </div>

    <div class="btn-toolbar">
      <button type="button" class="btn btn-light btn-add" (click)="addNewWord()"><i class="fas fa-plus"></i> Add</button>
    </div>

  </div>
</div>

<form (ngSubmit)="onSaveNewWord(wordForm)" #wordForm="ngForm">
    <div class="row justify-content-center" [hidden]="!showAddWord">
      <div class="col-md-6 custom-bg">
        <div class="row">
          <div class="col">
            <input type="text" 
              class="form-control" 
              name="wordEn" 
              placeholder="English Word"
              #enWordInput
              ngModel>
          </div>
          <div class="col">
              <input type="text" 
              class="form-control" 
              name="wordEs"
              placeholder="Spanish Word"
              ngModel>
          </div>
        </div>
        <div class="row margin-top">
          <div class="col">
            <button type="submit" class="btn btn-success" *ngIf="!editMode">Save</button>
            <button type="button" class="btn btn-success" *ngIf="editMode" (click)="onUpdateWord()">Update</button>
            <button type="button" class="btn btn-link" (click)="onCancel()">Cancel</button>
          </div>
          <div class="col text-right">
            <button type="button" class="btn btn-danger" (click)="onDeleteWord()">Delete</button>
          </div>
        </div>
      </div>
    </div>
</form>

<hr />

<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-primary" (click)="onOpenEpisode()" [disabled]="selectedEpisode === -1">Edit episode</button>
  </div>
  <div class="col-md-6 text-right">
    <button class="btn btn-danger" (click)="onResetDB()">Reset DB</button>
  </div>
</div>