<div>
  <button class="btn btn-primary btn-small">Load JSON</button>
</div>

<hr />

<div class="row">
  <div class="col-md-6">
    <app-direction-grid [wordSelected]="wordSelected"></app-direction-grid>
  </div>
  <div class="col-md-6 btn-group-vertical">
    <button class="btn btn-light">Random Grid</button>
    <button class="btn btn-light">Clean Grid</button>
    <button class="btn btn-light">Save Grid</button>
  </div>
</div>

<hr />

<div>
  <input type="input" name="new-word" #newWord> <button type="button" (click)="onAddWord()">add Word</button>
  <div class="words-container">
    <button *ngFor="let word of wordsList" 
      type="button" 
      class="btn btn-secondary badge-custom" 
      [style.background-color]="word.bgColor" 
      [style.color]="word.fontColor"
      (click)="selectWord($event)" >
      {{word.label}} <span class="badge"> <i *ngIf="word.used" class="fas fa-eraser fa-2x"></i> </span>
    </button>
  </div>
</div>

<hr />

<div>
</div>