<div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert" *ngIf="gameAlertMessage!==''">
        {{gameAlertMessage}}
      </div>
    </div>
    <div class="col-md-12">
      <h4>Game Selected:</h4>
      <p *ngIf="season">
        <strong>Season</strong> ( {{season.title}} )
      </p>
      <p *ngIf="episode">
        <strong>Episode</strong> ( {{episode.title}} )
      </p>
      <p *ngIf="episode && episode.words">
        <strong>Words</strong> ( {{episode.words.length}} )
      </p>
      <p>
        Language: 
        <select 
          #langSelect
          ng-model="lang" (change)="onChangeLanguage(langSelect.value)">
          <option value="en">English</option>
          <option value="es">Spanish</option>
        </select>
      </p>
    </div>
  </div>

<hr />

<div class="row">
  <div class="col-md-12">
    <h4>Word direction:</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert" *ngIf="toolsAlertMessage!==''">
      {{toolsAlertMessage}}
    </div>
  </div>
  <div class="col-md-12">
    <app-direction-grid [wordSelected]="wordSelected"></app-direction-grid>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <h4>Words:</h4>
  </div>
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert" *ngIf="wordsAlertMessage!==''">
      {{wordsAlertMessage}}
    </div>
  </div>

  <div class="col-md-12" *ngIf="words[mainLang] && words[mainLang].length > 1">
    <div class="words-container">
      <div class="btn-group" role="group" 
        *ngFor="let word of words[mainLang]; let idx = index;" 
        [ngClass]="{'selected': idx==selectedWordIdx}">
        <button type="button" 
          class="btn btn-dark badge-custom"
          [style.background-color]="word.bgColor" 
          [style.color]="word.fontColor"
          (click)="onSelectWord(word, idx)">
          {{word.label}}
          <div 
            [ngClass]="(!word.dirty && idx !== selectedWordIdx) ? 'not-used' : ''"
            class="curtain"></div>
        </button>
        <button type="button" class="btn btn-light badge-custom btn-border" disabled>
            {{words[secondLang][idx].label}}
            <div 
            [ngClass]="{'not-used': !word.dirty && idx !== selectedWordIdx }"
            class="curtain"></div>
        </button>
        
      </div>
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-success" (click)="onSaveGrid()">Save</button>
  </div>
  <div class="col-md-6 align-right">
    <button type="button" class="btn btn-danger" (click)="onResetGrid()">Reset Grid</button>
  </div>
</div>