.badge-custom {
	padding: 5px;
	font-size: 15px;
}

.btn-group.selected {
	box-shadow: 5px 5px 5px gray;
}

.btn-border {
	border: 1px solid black;
}

.btn-group {
	margin: 5px;
	border-radius: 5px;
}

.curtain.not-used {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(125, 125, 125, 0.6);
}